@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">@Model.Message</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>

<div class="text-center">
    <img src="~/images/imagem-erro.jpg" width="300px;" height="400px;" />
</div>