@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>

<div class="form-group">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-xs">Back To Home</a>
</div>
