@model Department

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    
    <div>
        <b>
            @Html.DisplayNameFor(model => model.Name)
        </b>
        &nbsp;&nbsp;

        @Html.DisplayFor(model => model.Name)
    </div>

    <br />

    <div class="form-group">
        <a asp-controller="Departments" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-xs">Edit</a> |
        <a asp-controller="Departments" asp-action="Index" class="btn btn-success btn-xs">Back To List</a>
    </div>
</div>
