@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<div>
    <table class="table table-striped">
        <thead style="background-color:burlywood">
            <tr>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody style="background-color:burlywood">
            <tr>
                <td>Marlene</td>
            </tr>
            <tr>
                <td>Joaquim</td>
            </tr>
            <tr>
                <td>Carlos</td>
            </tr>
            <tr>
                <td>Veridiana</td>
            </tr>
        </tbody>
    </table>
</div>